<section class="section section-blog-fw pt-5 mt-4 pb-3">   
    <div class="row">
        <div class="col-md-12">
            <!--Featured image-->
            <div class="card card-cascade wider reverse">
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Wide sample post image">
                    <a>
                        <div class=""></div>
                    </a>
                </div>

               
            </div>
        </div>
    </div>
    <hr class="mb-5 mt-4">
</section>

<!-- //////////////////////////////// -->
<div class="col-md-12">
    <div class="card">
        <h3 class="card-header primary-color white-text">Gallary</h3>
        <div class="card-body row" style="height: 500px;overflow-y: auto;">
             <div *ngFor="let img of this.imageFromServer;let i=index" class="col-md-3">
                <img src={{img.src}} (click)="open(i)" style="max-width:100%;cursor: pointer;">
                <h5 class="indigo-text"><strong>{{img.caption1}}</strong></h5>
                <button (click)="deleteImage(img._id,img.src,i)">Delete</button>
                <hr class="mb-5 mt-4">
             </div>

        </div>
    </div>    
</div>

<table class="table table-bordered">
    <thead>
        <th>Single</th>
        <th>Multiple</th>
    </thead>
    <tbody>
        <tr>
            <td><input type="file" ng2FileSelect [uploader]="uploader" /></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
<thead>
                <tr>
                <th>Sl</th>
                    <th>Img</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Actions</th>
                    <th>Caption</th>
                </tr>
                </thead>
	                <tbody>
                <tr *ngFor="let item of uploader.queue ;let i = index" [attr.data-index]="i">
                	<td>{{i}}</td>
                    <td width="156px"><img [src]="sanitizer.bypassSecurityTrustUrl(localImageUrl[i])" style="    width: 168px;"></td>
                    <td>{{ item?.file?.size/1024/1024| number:'.2'}} MB</td>
                    <td>{{item.progress}}</td>
                    <td width="156px">
                        <button type="button" class="btn btn-elegant btn-sm"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload
                        </button>
                        <button type="button" class="btn btn-unique btn-sm"
                                (click)="item.cancel()" [disabled]="!item.isUploading">Cancel
                        </button>
                        <button type="button" class="btn btn-mdb btn-sm"
                                (click)="item.remove()">Remove
                        </button>
                    </td>
                    <td><input type="text" [(ngModel)]="item.formData[0]"></td>

                </tr>
                </tbody>
</table>   

<button type="button" class="btn btn-elegant btn-sm"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload all
                </button>  

 asdasdasdasdasdasdasd   
<mdb-image-modal [modalImages]="imagesBasic" type="no-margin"></mdb-image-modal>
                   



        